:root {
    --font-primary: 'Source Sans Pro', sans-serif;
    --white: #fff;
    --black: #090909;
    --medium-black: #151515;
    --light-black: #202020;
    --gray: #d7d7d7;
    --light-gray: #b9b4b4;
}

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

a {text-decoration: none; color: inherit; }
ul { list-style-type: none;}
img {width: 100%;}
body {
    color: var(--black);
}


.container {
    display: grid;
    grid-template-columns: minmax(6%,1fr) minmax(auto,1024px) minmax(6%,1fr);
    /* grid-template-rows: auto 50vh; */
}

section {
    margin-bottom: 2em;
}

.sm-hidden {display: none;}

/* ========================== 
    GRID UTILITY CLASSES
=============================*/

.col-full {
    grid-column: 1 / -1;
}

.col-middle {
    grid-column: 2;
}

/* ========================== 
    OTHER UTILITY CLASSES
=============================*/

.flex {display: flex;align-items: center;}
.right-align { text-align: right;}
.margin-left-auto {margin-left: auto;}
.blog-title {margin: .5em 0; font-size: 2rem;}
.dark-div {color: var(--gray); background-color: var(--light-black);}
.bold-text {font-weight: 700;}
.light-text {color: var(--light-gray);}

/* ============ 
    HEADER
===============*/

.header {
    /* align-self: end; */
    padding: 1rem 0;
}
nav ul {
    gap: 0px 1em;
}

.nav-link {
    text-transform: uppercase;
    text-align: right;
    font-size: .8rem;
    font-weight: 500;
    font-weight: 700;
}

.logo-text {
    display: inline-block;
    width: fit-content;
    font-size: 1rem;
}

.logo-icon {font-size: 1.5rem; margin-right: .2em;}



/* ============ 
    HERO
===============*/

.hero-img {
    grid-row: 2;
    min-height: 540px;
    max-height: 640px;
    height: calc(100vh - 56px);
    background: radial-gradient(#0000008e, #00000083), url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-text {
    padding-bottom: 2em;
    color: var(--white);
    grid-row: 2;
    align-self: end;
    width: min(100%,720px);
    /* font-size: 2vw; */
}
.hero-text > * {
    text-shadow: 0px 0px 3px #000;
}

.hero-text h2 {
    margin: .5em 0;
    font-size: 2rem;
    text-shadow: 0px 5px 2px #000;
}

.main-blog {
    color: var(--black);
}

.main-blog > *, .hero-text h2  {
    text-shadow: none;
}



/* ============ 
    MAIN
===============*/
.main {
    display: grid;
}

/* ============ 
    BLOG
===============*/
.blog-date {
    margin-top: 1rem;
}

.blog-img {
    height: max(240px,10vh);
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
}

/* ============ 
    FOOTER
===============*/

footer {
    font-size: 0.75em;
    margin-top: 2rem;
    padding: 2rem 0;
    text-align: center;
}


/* BTN */

.btn {
    display: inline-block;
    padding: .8em 1em;
    border-radius: 5px;
    font-weight: 700;
    border: 1px solid var(--black);
}
.btn:hover,
.btn:active {
    background-color: var(--black);
    color: var(--white);
}
.btn-view-more {
    justify-self: center;
    width: min(100%,320px);
}

@media (min-width:481px) {
    .hero-text {
        font-size: 1.2rem;
    }
    .hero-text h2 {
        font-size: 3rem;
    }
}
@media (min-width:688px) {
    .sm-hidden {display: block;}
    .lg-hidden {display: none;}
    .main {
        grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
        gap: 0 2em;
    }
    .hero-text {
        font-size: 1.5rem;
    }
    .hero-text h2 {
        font-size: 4rem;
    }
}