:root {
    --font-primary: 'Source Sans Pro', sans-serif;
    --white: #fff;
    --black: #090909;
    --medium-black: #151515;
    --light-black: #202020;
    --gray: #d7d7d7;
    --light-gray: #ececec;
}

*,*::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
}

body {
}

.container {
    display: grid;
    grid-template-columns: 2em minmax(300px,1024px) 2em;
}

.col-full {
    grid-column: 1 / -1;
}

.col-middle {
    grid-column: 2 / -2;
}

.hero {
    min-height: 30vh;
    background: url("https://images.unsplash.com/photo-1505238680356-667803448bb6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}